{{new-game saveGame2="saveGame3"}}
<h2>Most Played.</h2>

<ul>
  {{#each model as |game|}}
    {{game-tile game=game }}
  {{/each}}
</ul>

<h2> New ideas</h2>

<ul>
{{#each model.consoles as |console|}}
<li> {{console.rating}} - {{console.comment}} - {{console.viewer}}<br>
<img src={{console.img}} alt={{console.comment}}>
</li>
{{/each}}
</ul>
{{new-console saveConsole="saveConsole"}}
<hr>
